<main>
    <h1> {{username}}'s friends list </h1>
    <h4> Total: {{friends.length}} </h4>
    {{#if friends.length}}
    <ul>
        {{#each}}
        <li>
            <a href="/user/{{this._id}}"> {{this.username}} </a>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</main>