<h1>Welcome {{user.username}}!</h1>
<main>
  <a href="/users/{{user._id}}">View Profile</a>
  <br />
  <a href="/users">Browse Users</a>
  <br />
  <a href="/games">Browse Games</a>
  <br />
  <br />
  <br />


  {{!-- <form name="gameSearchForm" id="gameSearchForm" action="/game" method="POST">
    <label for="gameSearch">Search for a game:</label>
    <input type="text" name="gameSearch" id="gameSearch" />
    <button type="submit" name="submitButton" id="submitButton">Submit</button>
  </form> --}}

  <a id="signoutLink" href="/signout">Sign out</a>

</main>