<header>
  <h1>Welcome {{user.username}}!</h1>
</header>
<main>
  <div class="homepage-options-div" id="edit-profile-div">
    <img src="/public/images/profile.svg" height="50px" id="edit-profile-svg"/>
    <a href="/users/{{user._id}}">View/Edit Profile</a>
  </div>
  <div class="homepage-options-div" id="browse-users-div">
    <img src="/public/images/users.svg" height="50px" id="browse-users-svg"/>
    <a href="/users">Browse Users</a>
  </div>
  <div class="homepage-options-div" id="browse-games-div">
    <img src="/public/images/games.svg" height="50px" id="browse-games-svg"/>
    <a href="/games/">Browse Games</a>
  </div>
  <div class="homepage-options-div" id="signout-div">
    <img src="/public/images/signout.svg" height="50px" id="signout-svg">
    <a id="signoutLink" href="/signout">Sign out</a>
  </div>
</main>