<header>
    <h1>Welcome to</h1>
    <div class="centered">
        <img src="/public/images/logo.png" alt="Pixel Link Logo" width="500">
    </div>
</header>
<main>
    <div class="centered">
        <p id="tagline">Connect with like-minded gamers across the world.</p>
    </div>
    <br>
    {{#if is_logged_in}}
    <div class="centered">
        <p id="home"><a href="/home">Go to Home</a></p>
    </div>
    {{else}}
    <div class="centered">
        <p id="login"><a href="/login">Login</a></p>
    </div>
    <div class="centered">
        <p id="register"><a href="/register">Register</a></p>
    </div>
    {{/if}}
    <div class="centered">
        <p id="about"><a href="/about">About Us</a></p>
    </div>
    <div class="centered centered-text">
        <p>Have you ever found yourself wishing you could find new online friends who not only play the same games as you, but also possess certain desirable characteristics in the way they play those games? That's where PixelLink comes in! PixelLink is a social networking service designed specifically to help video game players find and befriend other like-minded gamers.</p>
    </div>
    <div class="centered centered-text">
        <p>Here's how to get started!</p>
    </div>
    <div class="centered">
        <ol>
            <li>Register for PixelLink.</li>
            <li>Add the games that you play to your profile, alongside any relevant information related to those games you wish to share with the public, such as experience level or favorite characters.</li>
            <li>Open the User Browser, and take advantage of our intricate filtering system to narrow your search for gamers who you think you would be most compatible with.</li>
            <li>Open the Games List to get recommendations on new games to try out based on which users you are following.</li>
        </ol>
    </div>


</main>
<footer>
    
</footer>