<header>
    <h1>Welcome to PixelLink!</h1>
</header>
<main>
    <div class="centered">
        <p>Connect with like-minded gamers across the world.</p>
    </div>
    <div class="centered">
        <p><a href="/login">Login</a></p>
    </div>
    <div class="centered">
        <p><a href="/register">Register</a></p>
    </div>

    <div class="centered">
        <p><a href="/static/about.html">About Pixel Link</a></p>
    </div>


</main>
<footer>
    <img src="/public/images/logo.png" alt="PixelLink Logo" width="500">
</footer>