<header>
    <h1>Welcome to PixelLink!</h1>
</header>
<main>
    <div class="centered">
        <p>Connect with like-minded gamers across the world.</p>
        <br>
        <p><a href="/login">Login</a></p>
    </div>
</main>
<footer>

</footer>