<header>
    <h1>Welcome to</h1>
    <div class="centered">
        <img src="/public/images/logo.png" alt="Pixel Link Logo" width="500">
    </div>
</header>
<main>
    <div class="centered">
        <p id="tagline">Connect with like-minded gamers across the world.</p>
    </div>
    <br>
    {{#if is_logged_in}}
    <div class="centered">
        <p id="home"><a href="/home">Go to Home</a></p>
    </div>
    {{else}}
    <div class="centered">
        <p id="login"><a href="/login">Login</a></p>
    </div>
    <div class="centered">
        <p id="register"><a href="/register">Register</a></p>
    </div>
    {{/if}}
    <div class="centered">
        <p id="about"><a href="/about">About Us</a></p>
    </div>

    <br>

    <div class="centered centered-text">
        <p class="bigText">Who is PixelLink for?</p>
    </div>

    <div class="centered centered-text">
        <p>Are you an avid gamer looking for new online friends? Have you ever wished that there was an easier way to search for players who not only play the same games as you, but also possess certain desirable characteristics in the way they play those games? That's where PixelLink comes in! PixelLink is a social networking service designed specifically to help video game players find and befriend other like-minded gamers.</p>
    </div>

    <hr>

    <div class="centered centered-text">
        <p class="bigText">Browse games!</p>
    </div>

    <div class="centered centered-text">
        <p>Browse through our collection of games. You can see how many active players each game currently has as well as how well received they are.</p>
    </div>

    <div class="centered">
        <img class="demoImages" src="/public/images/GamesList.png" alt="Filling out a game form" width="500">
    </div>

    <hr>

    <div class="centered centered-text">
        <p class="bigText">Add games to your profile!</p>
        <p></p>
    </div>

    <div class="centered centered-text">
        <p>Once you find a game that you play and wish to show off to the public, click on the 'Add to Profile' button to start filling out the game specific form with all the relevant information about the way you play the game, such as your username, favorite game modes, or favorite characters. Every form field is optional, giving you the power to reveal as little or as much as you want!</p>
    </div>

    <div class="centered">
        <img class="demoImages" src="/public/images/GameForm.png" alt="Filling out a game form" width="500">
    </div>

    <hr>

    <div class="centered centered-text">
        <p class="bigText">Browse and filter users!</p>
        <p></p>
    </div>

    <div class="centered centered-text">
        <p>Browse through the profiles of other PixelLink users. You can search for users by name, or filter users based a game or the form values they submitted.</p>
    </div>

    <div class="centered">
        <img class="demoImages" src="/public/images/UserBrowser.png" alt="Filling out a game form" width="500">
    </div>

    <div class="centered">
        <img class="demoImages" src="/public/images/UserFilter.png" alt="Filling out a game form" width="500">
    </div>

    <hr>

    <div class="centered centered-text">
        <p class="bigText">Add comments and reviews!</p>
        <p></p>
    </div>

    <div class="centered centered-text">
        <p>Chat with other gamers under user profiles and game pages, and leave reviews for games.</p>
    </div>

    <div class="centered">
        <img class="demoImages" src="/public/images/Comments.png" alt="Filling out a game form" width="500">
    </div>

    <div class="centered">
        <img class="demoImages" src="/public/images/GameReview.png" alt="Filling out a game form" width="500">
    </div>

    <hr>

    <div class="centered centered-text">
        <p class="bigText">Get started today!</p>
    </div>

    <hr>

    <br><br><br><br><br><br><br>


</main>
<footer>
    
</footer>