<main>
    <div class="centered-flex-column">
        <img src="/public/images/logo.png" alt="Pixel Link logo" width="500">
        <h1>Register</h1>
        <p id="error" {{hidden}}>{{error_message}}</p>
        <form id="registrationForm" action="/register" name="registrationForm" method="POST">
            <div class="centered-flex-row">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" value="{{username}}">
            </div>
            <div class="centered-flex-row">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" value="{{password}}">
            </div>
            <div class="centered-flex-row">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" name="confirmPassword" type="password">
            </div>
            <div class="centered-flex-row">
                <input id="submit" type="submit" value="Register">
            </div>
        </form>
        <div class="centered-flex-row">
            <p>Have an account? <a href="/login">Login.</a></p>
        </div>
        <div class="centered-flex-row">
            <p>Go back to the <a href="/">landing page.</a></p>
        </div>
    </div>
</main>