  <form name="userSearchForm" id="userSearchForm" action="/user" method="POST">
    <label for="userSearch">Search for a user:</label>
    <input type="text" name="userSearch" id="userSearch" />
    <button type="submit" name="submitButton" id="submitButton">Submit</button>
  </form>
<hr>
  {{#each users}}
  <h1>{{this.username}}</h1>
  <hr>
  {{/each}}