* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-size: 1.5rem;
}

h1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1:hover {
    background-color: #c82333;
  }