* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p {
    text-decoration: underline dashed;
}

li {
    margin: 10px;
    width: 50%;
    border-radius: 5px;
    border-width: 3px;
    border: solid;
    border-color: black;
}

a {
    color: blue;
    text-decoration: none;
}

a.name:hover {
    color: purple;
}

a:hover {
    color: green;
}

.goBack {
    font-size: 1.5rem;
    font-weight: bold;
}

.goBack:hover {
    color: rgb(172, 172, 255);
}

.game-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    background-color: bisque;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 725px;
}

.game-title-div {
    width: 300px;
}

.game-info-div {
    width: 250px;
}

span {
    font-weight: bold;
}

#recs{
    color: blue;
    font-family: Arial;
}