h1, img {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}