* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2rem;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    width: 50%;
}


h1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    margin-bottom: 50px;
}

#tagline {
    font-style: italic;
}

.centered-form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-text {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}

#login {
    border: 3mm ridge rgba(220, 50, 50, 0.6);
    padding: 10px;
}

#login:active {
    border-color: black;
    color: black;
}

#register {
    border: 3mm ridge rgba(21, 142, 10, 0.6);
    padding: 10px;
}

#about, #home {
    border: 3mm ridge rgba(50, 61, 220, 0.6);
    padding: 10px;
}

.bigText {
    font-size: 1.5rem;
    font-weight: bold;
}

.demoImages {
    border: 1px solid black;
}