* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centered-flex-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.centered-flex-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

#submit {
    font-size: 1rem;
}