* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: rgb(172, 172, 255);
}

a:active {
    color: rgb(0, 0, 0);
}

.goBack {
    font-size: 1.5rem;
    font-weight: bold;
}

#changeAccountInfo-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#password {
    margin-bottom: 0.4rem;
}

.gameDiv {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 500px;
}

.gameTitle {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.3rem;
}

.gameFieldName {
    font-weight: bold;
}

.commentDiv {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 500px;
}

.usernameParagraph {
    font-weight: bold;
    color: rgb(255, 83, 83);
}

.dateTimeParagraph {
    font-size: 0.8rem;
    color: rgb(73, 73, 73);
}

#changeUsernameError, #changePasswordError, #commentError {
    color: red;
}

.editComment {
    width: 350px;
}